ab-test-kill-switch.json
{
  "name": "A/B Test Kill-Switch (Experiment Guardian)",
  "nodes": [
    {
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300],
      "parameters": {}
    },
    {
      "id": "2",
      "name": "Simulate Running A/B Test",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 300],
      "parameters": {
        "jsCode": "// Simulates a running A/B test over 14 days of real traffic.\n// Control (A) has a true 5% conversion rate. Variant (B) is deliberately WORSE\n// (3.5%) so the Kill-Switch has a real losing variant to catch -- exactly the\n// situation this project is designed to detect and stop early.\n\nconst days = 14;\nconst visitorsPerDayA = 500;\nconst visitorsPerDayB = 500;\nconst trueRateA = 0.05;\nconst trueRateB = 0.035;\n\nfunction simulateConversions(visitors, rate) {\n  let conversions = 0;\n  for (let i = 0; i < visitors; i++) {\n    if (Math.random() < rate) conversions++;\n  }\n  return conversions;\n}\n\nconst rows = [];\nlet cumVisitorsA = 0, cumConversionsA = 0;\nlet cumVisitorsB = 0, cumConversionsB = 0;\n\nfor (let day = 1; day <= days; day++) {\n  const convA = simulateConversions(visitorsPerDayA, trueRateA);\n  const convB = simulateConversions(visitorsPerDayB, trueRateB);\n\n  cumVisitorsA += visitorsPerDayA;\n  cumConversionsA += convA;\n  cumVisitorsB += visitorsPerDayB;\n  cumConversionsB += convB;\n\n  rows.push({\n    json: {\n      day,\n      visitors_a: cumVisitorsA,\n      conversions_a: cumConversionsA,\n      visitors_b: cumVisitorsB,\n      conversions_b: cumConversionsB\n    }\n  });\n}\n\nreturn rows;\n"
      }
    },
    {
      "id": "3",
      "name": "Sequential Test & $ Impact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300],
      "parameters": {
        "jsCode": "// ---- LEARNING NOTE ----\n// This node is the core logic. It does 3 things:\n// 1. Calculates conversion rates for both variants using the LATEST cumulative day\n// 2. Checks statistical significance using a stricter, day-adjusted boundary --\n//    because checking a test's results every single day using a fixed 95%\n//    threshold (z > 1.96) inflates false positives. This is a real, well-known\n//    mistake called \"the peeking problem.\" The fix here is a simplified version\n//    of what's called a Pocock-style sequential boundary: the more days you've\n//    already checked, the stricter the bar needs to be to call it significant.\n// 3. Translates the losing variant into an estimated dollar cost.\n\nconst days = $input.all().map(i => i.json);\nconst latest = days[days.length - 1];\n\nconst pA = latest.conversions_a / latest.visitors_a;\nconst pB = latest.conversions_b / latest.visitors_b;\n\nconst pPooled = (latest.conversions_a + latest.conversions_b) / (latest.visitors_a + latest.visitors_b);\nconst se = Math.sqrt(pPooled * (1 - pPooled) * (1 / latest.visitors_a + 1 / latest.visitors_b));\nconst z = se === 0 ? 0 : (pB - pA) / se;\n\nconst daysSoFar = latest.day;\n// Simplified Pocock-style boundary: tightens slightly the more days you've peeked at\nconst adjustedThreshold = 1.96 + Math.log(daysSoFar) * 0.15;\n\nconst isSignificant = Math.abs(z) > adjustedThreshold;\nconst bIsWorse = pB < pA;\n\n// Business impact: assumed average order value, configurable\nconst avgOrderValue = 45;\nconst lostConversions = Math.max(0, (pA - pB)) * latest.visitors_b;\nconst dollarImpact = lostConversions * avgOrderValue;\n\nlet severity = 'low';\nif (isSignificant && bIsWorse && dollarImpact > 300) severity = 'high';\nelse if (bIsWorse && dollarImpact > 100) severity = 'medium';\n\nreturn [{\n  json: {\n    day: latest.day,\n    conversion_rate_a_pct: Number((pA * 100).toFixed(2)),\n    conversion_rate_b_pct: Number((pB * 100).toFixed(2)),\n    z_score: Number(z.toFixed(2)),\n    significance_threshold_used: Number(adjustedThreshold.toFixed(2)),\n    is_statistically_significant: isSignificant,\n    dollar_impact_usd: Number(dollarImpact.toFixed(2)),\n    severity\n  }\n}];\n"
      }
    },
    {
      "id": "4",
      "name": "Route by Severity",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [780, 300],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.severity }}", "rightValue": "high", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "high"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.severity }}", "rightValue": "medium", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "medium"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.severity }}", "rightValue": "low", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "low"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "5",
      "name": "Slack Alert (High)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1040, 140],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": { "__rl": true, "mode": "id", "value": "PUT_YOUR_CHANNEL_ID" },
        "text": "=🚨 EXPERIMENT KILL-SWITCH: Variant B is statistically significantly worse than Control (z={{ $json.z_score }}, threshold={{ $json.significance_threshold_used }}). Conversion: A={{ $json.conversion_rate_a_pct }}% vs B={{ $json.conversion_rate_b_pct }}%. Estimated cost of continuing: ${{ $json.dollar_impact_usd }}. Recommending pause. (In the full version, this would wait for human approval before pausing.)"
      },
      "credentials": {
        "slackApi": { "id": "", "name": "Slack account" }
      }
    },
    {
      "id": "6",
      "name": "Pause Experiment (Simulated)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 140],
      "parameters": {
        "method": "POST",
        "url": "PUT_YOUR_WEBHOOK_SITE_URL_HERE",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "reason", "value": "=variant_b_underperforming:{{ $json.dollar_impact_usd }}usd_at_risk" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "7",
      "name": "Log: High - Experiment Paused",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1560, 140],
      "parameters": {}
    },
    {
      "id": "8",
      "name": "Slack Alert (Medium)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1040, 340],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": { "__rl": true, "mode": "id", "value": "PUT_YOUR_CHANNEL_ID" },
        "text": "=⚠️ Variant B trending worse than Control (not yet statistically significant). Conversion: A={{ $json.conversion_rate_a_pct }}% vs B={{ $json.conversion_rate_b_pct }}%. Estimated cost so far: ${{ $json.dollar_impact_usd }}. Worth watching."
      },
      "credentials": {
        "slackApi": { "id": "", "name": "Slack account" }
      }
    },
    {
      "id": "9",
      "name": "Log: Medium - Alert Sent",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1300, 340],
      "parameters": {}
    },
    {
      "id": "10",
      "name": "Log: Low - No Action",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1040, 500],
      "parameters": {}
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Simulate Running A/B Test", "type": "main", "index": 0 }]]
    },
    "Simulate Running A/B Test": {
      "main": [[{ "node": "Sequential Test & $ Impact", "type": "main", "index": 0 }]]
    },
    "Sequential Test & $ Impact": {
      "main": [[{ "node": "Route by Severity", "type": "main", "index": 0 }]]
    },
    "Route by Severity": {
      "main": [
        [{ "node": "Slack Alert (High)", "type": "main", "index": 0 }],
        [{ "node": "Slack Alert (Medium)", "type": "main", "index": 0 }],
        [{ "node": "Log: Low - No Action", "type": "main", "index": 0 }]
      ]
    },
    "Slack Alert (High)": {
      "main": [[{ "node": "Pause Experiment (Simulated)", "type": "main", "index": 0 }]]
    },
    "Pause Experiment (Simulated)": {
      "main": [[{ "node": "Log: High - Experiment Paused", "type": "main", "index": 0 }]]
    },
    "Slack Alert (Medium)": {
      "main": [[{ "node": "Log: Medium - Alert Sent", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
